<mat-nav-list>
    <a *ngIf="!isLoggedIn" mat-list-item (click)="onClose()"  routerLink="/signup">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Sign Up</span>
    </a>
    <a *ngIf="!isLoggedIn" mat-list-item (click)="onClose()"  routerLink="/login">
        <mat-icon>login</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
    <a *ngIf="isLoggedIn" mat-list-item (click)="onClose()"  routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span class="nav-caption">dashboard</span>
    </a>
    
    <div class="logOut" *ngIf="isLoggedIn"  mat-list-item >
        <button (click)="onLogOut()" mat-icon-button>
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">log Out</span>
        </button>
    </div>
    
</mat-nav-list>