.sign-up-form{
    max-width: 300px;
    margin: auto auto;
}
mat-form-field{
    width: 300px;
    margin: .25rem auto;
    align-items: center;
}
.form-input-items {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}