<mat-toolbar color="primary">
    <div class="mobile-menu">
        <button
            mat-icon-button
            (click)="onToggleSidenav()"
        >
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="">theLeague</a>
    </div>
    <span class="example-spacer"></span>
    <div class="desk-top--nav">
        <ul class="navItems">
            <li><a routerLink="/signup">Sign Up</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li>Log Out</li>
        </ul>
    </div>
</mat-toolbar>